<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>assi2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Check_NIC</servlet-name>
    <servlet-class>main.Check_NIC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check_NIC</servlet-name>
    <url-pattern>/servlets/Check_NIC</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>main.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/servlets/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>main.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlets/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>main.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlets/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Get_Petition</servlet-name>
    <servlet-class>main.Get_Petition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_Petition</servlet-name>
    <url-pattern>/servlets/Get_Petition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Insert_petition</servlet-name>
    <servlet-class>main.Insert_petition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_petition</servlet-name>
    <url-pattern>/servlets/Insert_petition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update_sign</servlet-name>
    <servlet-class>main.Update_sign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_sign</servlet-name>
    <url-pattern>/servlets/Update_sign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Comment</servlet-name>
    <servlet-class>main.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/servlets/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Insert_comment</servlet-name>
    <servlet-class>main.Insert_comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_comment</servlet-name>
    <url-pattern>/servlets/Insert_comment</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Dropdown_list</servlet-name>
    <servlet-class>main.Dropdown_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dropdown_list</servlet-name>
    <url-pattern>/servlets/Dropdown_list</url-pattern>
  </servlet-mapping>
</web-app>